html {
    width: 100vw;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h2, p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

.header-left-text {
    font-size: 24px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    flex-wrap: wrap;
}

ul {
    margin: 0;
}

li:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.main-heading-div {
    text-align: center;
    padding: 50px 5%;
}

.main-heading {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
}

.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px 0;
}

.main-flex-img-div {
    padding: 24px 0 0 0;
}

.main-flex-left-section,
.main-flex-middle-section,
.main-flex-right-section {
    flex: 1 1 300px;
    box-sizing: border-box;
}

.main-img {
    border-radius: 28px;
    padding-bottom: 25px;
    width: 100%;
}

.flex-img {
    min-width: 200px;
    width: 100%;
    border-radius: 16px;
}

.main-img-des-div {
    height: 24px;
    width: 100%;
}

.project-des,
.project-name {
    line-height: 20px;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
}

.project-name {
    font-size: 16px;
}

.project-des {
    font-size: 14px;
}

.main-section {
    text-align: center;
    padding: 48px 5%;
}

.section-text {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

.below-main {
    text-align: right;
    width: 100%;
    padding-right: 5%;
    box-sizing: border-box;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .header {
        padding: 10px 50px;
    }

    .nav-list {
        gap: 40px;
        font-size: 20px;
    }

    .main-heading {
        font-size: 80px;
    }

    .main-section {
        padding: 96px 150px;
    }

    .section-text {
        font-size: 40px;
        line-height: 46px;
    }

    .below-main {
        width: 646px;
    }
}

@media (min-width: 1200px) {
    .main-heading {
        font-size: 100px;
    }

    .main-section {
        padding: 96px 190px;
    }

    .section-text {
        font-size: 50px;
        line-height: 52px;
    }
}
